<input type="hidden" name="{{field}}" ng-model="ngModel" ng-required="required" />
<div class="form-check form-group form-group-{{type}}" ng-class="getClasses()">
	<label for="{{field}}" class="form-label">
		<span ng-bind-html="placeholder"></span><sup ng-if="required">✽</sup>
	</label>
	<control-messages></control-messages>
	<div class="input-group" ng-repeat="item in source">
		<label class="form-label-check">
			<input type="radio" class="form-control-check" ng-model="$parent.ngModel" name="input-{{field}}" ng-value="item.id" />
			{{item.name}}
		</label>
	</div>
</div>
