.canceled {
	text-align: center;

	.canceled__status {
		font-size: 44px;
		line-height: 50px;
		color: #c00019;
		margin-bottom: 35px;
	}

	.canceled__info {
		font-size: 18px;
		line-height: 30px;
		color: #28292b;
		margin-bottom: 35px;
		text-decoration: underline;

	}

	.canceled__reserve {
		font-size: 28px;
		line-height: 40px;
		color: #28292b;
		margin-bottom: 40px;
	}
}

.red {
	color: $red;
}
