@import "bootstrap/scss/functions";
@import "colors";
@import "variables";
@import "bootstrap/scss/mixins";

.section-reserve {
	.row {
		align-items: flex-end;
	}

	.picture {
		margin-top: -20px;
		text-align: center;

		img {
			max-width: 100%;
		}
	}

	@include media-breakpoint-down(md) {
		.picture {
			margin: 40px 0;
		}
	}

}
