@font-face {
  font-family: 'Aktiv Grotesk';
  src: url("../fonts/aktiv-grotesk/aktiv-grotesk6-light-webfont.woff2") format("woff2"), url("../fonts/aktiv-grotesk/aktiv-grotesk6-light-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url("../fonts/aktiv-grotesk/aktiv-grotesk-regular-webfont.woff2") format("woff2"), url("../fonts/aktiv-grotesk/aktiv-grotesk-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url("../fonts/aktiv-grotesk/aktiv-grotesk-medium-webfont.woff2") format("woff2"), url("../fonts/aktiv-grotesk/aktiv-grotesk-medium-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url("../fonts/aktiv-grotesk/aktiv-grotesk-bold-webfont.woff2") format("woff2"), url("../fonts/aktiv-grotesk/aktiv-grotesk-bold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

/*
@function pow($number, $exp) {
    $value: 1;

    @if $exp > 0 {
        @for $i from 1 through $exp {
            $value: $value * $number;
        }
    }
    @else if $exp < 0 {
        @for $i from 1 through -$exp {
            $value: $value / $number;
        }
    }

    @return $value;
}
*/
/*
@import "mixins/buttons";
@import "mixins/clearfix";
@import "mixins/filters";
@import "mixins/gradients";
@import "mixins/grid";
@import "mixins/layouts";
@import "mixins/transforms";
@import "mixins/transitions";
@import "mixins/scrollbars";
*/
i {
  vertical-align: middle; }
  i:before {
    vertical-align: middle; }

/*
@function pow($number, $exp) {
    $value: 1;

    @if $exp > 0 {
        @for $i from 1 through $exp {
            $value: $value * $number;
        }
    }
    @else if $exp < 0 {
        @for $i from 1 through -$exp {
            $value: $value / $number;
        }
    }

    @return $value;
}
*/
/*
@import "mixins/buttons";
@import "mixins/clearfix";
@import "mixins/filters";
@import "mixins/gradients";
@import "mixins/grid";
@import "mixins/layouts";
@import "mixins/transforms";
@import "mixins/transitions";
@import "mixins/scrollbars";
*/
body {
  font-size: 18px;
  font-weight: 200;
  line-height: 32px;
  color: #4e4b4b; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

.h1 {
  font-size: 90px;
  line-height: 96px;
  font-weight: 200; }
  .h1 .em {
    font-weight: 600; }

.h2 {
  font-size: 74px;
  line-height: 80px;
  font-weight: 200;
  color: #272727;
  margin-bottom: 90px; }
  .h2 .em {
    color: #a5a1a1; }

.h3 {
  font-size: 52px;
  line-height: 60px;
  font-weight: 200; }

.h4 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 600; }

.h5 {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #272727; }

@media (max-width: 1439.98px) {
  .h1 {
    font-size: 60px;
    line-height: 60px; }
  .h2 {
    font-size: 50px;
    line-height: 50px; }
  .h3 {
    font-size: 35px;
    line-height: 35px; }
  .h4 {
    font-size: 25px;
    line-height: 25px; }
  .h5 {
    font-size: 13px;
    line-height: 20px; } }

[ng-click],
[link-to],
button,
a {
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }
  [ng-click], [ng-click]:hover, [ng-click]:active, [ng-click]:focus, [ng-click]:visited,
  [link-to],
  [link-to]:hover,
  [link-to]:active,
  [link-to]:focus,
  [link-to]:visited,
  button,
  button:hover,
  button:active,
  button:focus,
  button:visited,
  a,
  a:hover,
  a:active,
  a:focus,
  a:visited {
    text-decoration: none; }

button {
  background: transparent;
  padding: 0;
  border: none;
  outline: 0;
  -webkit-appearance: none; }
  button:focus, button:active {
    outline: none; }

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: none; }

.btn {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }
  .btn i {
    height: auto;
    line-height: 1;
    vertical-align: middle; }

a:disabled,
[type=reset]:disabled,
[type=submit]:disabled,
button:disabled,
.btn:disabled {
  cursor: auto;
  pointer-events: none; }

.btn--menu {
  font-size: 30px;
  line-height: 30px;
  color: white;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn--menu:hover {
    color: white; }
  .fixed .btn--menu {
    color: #484848;
    text-shadow: none; }
    .fixed .btn--menu:hover, .fixed .btn--menu:active, .fixed .btn--menu.active {
      color: black; }

.btn--more {
  display: inline-block;
  position: relative;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: white; }
  .btn--more:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: white;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; }
  .btn--more:hover {
    color: white; }
    .btn--more:hover:before {
      -webkit-transform: scale(0, 1);
              transform: scale(0, 1); }

.btn--discover {
  display: inline-block;
  position: relative;
  font-size: 15px;
  line-height: 24px;
  font-weight: 800;
  color: #d90726; }
  .btn--discover:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: #d90726;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; }
  .btn--discover:hover {
    color: #d90726; }
    .btn--discover:hover:before {
      -webkit-transform: scale(0, 1);
              transform: scale(0, 1); }

.btn--see {
  display: inline-block;
  position: relative;
  font-size: 15px;
  line-height: 24px;
  font-weight: 800;
  color: #d90726; }
  .btn--see:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: #d90726;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; }
  .btn--see:hover {
    color: #d90726; }
    .btn--see:hover:before {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1); }

.btn--group {
  margin-top: 50px; }

.btn--block {
  display: block;
  width: 100%; }

/*
@function pow($number, $exp) {
    $value: 1;

    @if $exp > 0 {
        @for $i from 1 through $exp {
            $value: $value * $number;
        }
    }
    @else if $exp < 0 {
        @for $i from 1 through -$exp {
            $value: $value / $number;
        }
    }

    @return $value;
}
*/
/*
@import "mixins/buttons";
@import "mixins/clearfix";
@import "mixins/filters";
@import "mixins/gradients";
@import "mixins/grid";
@import "mixins/layouts";
@import "mixins/transforms";
@import "mixins/transitions";
@import "mixins/scrollbars";
*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }

.nav--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .nav--primary a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #c5c7c8; }
  .nav--primary li:hover a, .nav--primary li:active a, .nav--primary li.active a {
    color: white; }
  .fixed .nav--primary a {
    color: #484848; }
  .fixed .nav--primary:hover a, .fixed .nav--primary:active a, .fixed .nav--primary.active a {
    color: black; }
  .nav--primary li + li {
    margin-left: 30px; }
  @media (max-width: 1599.98px) {
    .nav--primary li + li {
      margin-left: 15px; } }

.nav--secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .nav--secondary a {
    font-size: 14px;
    font-weight: 600;
    color: #c5c7c8; }
  .nav--secondary li:hover a, .nav--secondary li:active a, .nav--secondary li.active a {
    color: white; }
  .fixed .nav--secondary a {
    color: #484848; }
  .fixed .nav--secondary:hover a, .fixed .nav--secondary:active a, .fixed .nav--secondary.active a {
    color: black; }
  .nav--secondary li + li {
    margin-left: 25px; }
  @media (max-width: 1599.98px) {
    .nav--secondary li + li {
      margin-left: 10px; } }

.nav--i18n {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .nav--i18n a {
    color: #c5c7c8; }
  .nav--i18n i {
    margin-right: 10px; }
  .nav--i18n li:hover a, .nav--i18n li:active a, .nav--i18n li.active a {
    color: white; }
  .fixed .nav--i18n a {
    color: #484848; }
  .fixed .nav--i18n:hover a, .fixed .nav--i18n:active a, .fixed .nav--i18n.active a {
    color: black; }
  .nav--i18n li + li {
    margin-left: 50px; }
  @media (max-width: 1599.98px) {
    .nav--i18n li + li {
      margin-left: 20px; } }

.nav--footer-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .nav--footer-primary > li > span,
  .nav--footer-primary > li > a {
    font-size: 14px;
    font-weight: 600;
    color: #050505; }
  .nav--footer-primary > li:hover > a, .nav--footer-primary > li:active > a, .nav--footer-primary > li.active > a {
    color: #050505; }
  .nav--footer-primary > li + li {
    margin-top: 25px; }
  .nav--footer-primary > li > .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .nav--footer-primary > li > .nav > li > span,
    .nav--footer-primary > li > .nav > li > a {
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      line-height: 25px;
      color: #a5a1a1; }
    .nav--footer-primary > li > .nav > li:hover > a, .nav--footer-primary > li > .nav > li:active > a, .nav--footer-primary > li > .nav > li.active > a {
      color: #050505; }
  .nav--footer-primary > li > .nav--footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .nav--footer-primary > li > .nav--footer-social span {
      display: none; }
    .nav--footer-primary > li > .nav--footer-social > li > a {
      font-size: 23px;
      line-height: 40px;
      color: #050505; }
    .nav--footer-primary > li > .nav--footer-social > li:hover > a, .nav--footer-primary > li > .nav--footer-social > li:active > a, .nav--footer-primary > li > .nav--footer-social > li.active > a {
      color: #000; }

.nav--footer-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .nav--footer-secondary > li > span,
  .nav--footer-secondary > li > a {
    font-size: 13px;
    font-weight: 400;
    color: #8e8e8e; }
    .nav--footer-secondary > li > span i,
    .nav--footer-secondary > li > a i {
      font-size: 19px;
      margin-left: 10px; }
  .nav--footer-secondary > li:hover a, .nav--footer-secondary > li:active a, .nav--footer-secondary > li.active a {
    color: #050505; }
  .nav--footer-secondary > li:not(:last-child) {
    margin-right: 55px; }
  @media (max-width: 1023.98px) {
    .nav--footer-secondary {
      display: block;
      margin-bottom: 40px; }
      .nav--footer-secondary > li:not(:last-child) {
        margin-right: 0; } }

.nav--service i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 0;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav--service > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  background: #d90726;
  color: white;
  -webkit-transform: translateX(calc(100% - 60px));
          transform: translateX(calc(100% - 60px));
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

.nav--service span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: #ccc;
  line-height: 0;
  overflow: hidden;
  font-size: 15px;
  color: white;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  padding: 0 15px;
  -webkit-transform: translateX(3px);
          transform: translateX(3px); }

.nav--service > li:hover > a, .nav--service > li:active > a, .nav--service > li.active > a {
  color: white;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

@media (max-width: 1023.98px) {
  .nav--service {
    position: fixed;
    top: calc(100vh - 60px);
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: #d90726; }
    .nav--service span {
      display: none; } }

@media (min-width: 1024px) {
  .nav--service {
    position: fixed;
    width: auto;
    top: 50vh;
    right: 3px;
    margin-top: -100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 99; }
    .nav--service > li:first-child > a {
      border-top-left-radius: 20px; }
    .nav--service > li:last-child > a {
      border-bottom-left-radius: 20px; }
    .nav--service > li + li {
      margin-top: 3px; } }

.swiper-container {
  width: 100%;
  cursor: pointer; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-container-horizontal .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  width: 50px;
  position: relative;
  -webkit-transform: none;
          transform: none; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  width: 100px;
  -webkit-transform: none;
          transform: none; }

.swiper-pagination-bullet {
  width: 50px;
  height: 3px;
  display: inline-block;
  border-radius: 0;
  background: #d7cfcf;
  opacity: 1; }

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 100px;
  background: #d90726; }

.triangles {
  position: absolute;
  pointer-events: none; }

.triangle {
  position: absolute;
  top: 0;
  left: 0; }

.triangle--60 {
  width: 60px;
  height: 60px; }

.triangle--120 {
  width: 120px;
  height: 120px; }

.follower {
  display: block;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  top: 0;
  left: 0; }
  .follower div:first-child {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #e6e3e3;
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1); }
  .follower div:last-child {
    position: absolute;
    opacity: 1;
    width: 3px;
    height: 3px;
    top: -1.5px;
    left: -1.5px;
    border-radius: 1.5px;
    background: #d90726; }
  @media (max-width: 1023.98px) {
    .follower {
      display: none; } }

@media (min-width: 1024px) {
  *,
  body,
  html,
  [ng-click],
  [link-to],
  button,
  a {
    cursor: none !important; } }

/*
@import "components/forms";
@import "components/modals";
*/
.page {
  display: block;
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  /*
	.overscroll &,
	.touch & {
		position: relative;
	}
	*/ }
  .fastscroll .page {
    position: relative; }

page-transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  opacity: 0;
  pointer-events: none;
  background: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media screen and (prefers-reduced-motion: reduce) {
    page-transition {
      -webkit-transition: none;
      transition: none; } }
  page-transition.loading {
    -webkit-transition: none;
    transition: none;
    opacity: 1; }

.spinner {
  display: block;
  width: 40px;
  height: 40px;
  background: #c30000;
  -webkit-animation: rotating 750ms ease-in-out infinite;
          animation: rotating 750ms ease-in-out infinite; }

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  60% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  60% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  header .container {
    padding-top: 40px;
    padding-bottom: 40px; }
  header .brand {
    height: 60px;
    margin-left: -50px; }
    @media (max-width: 1023.98px) {
      header .brand {
        height: 40px;
        margin-left: 0; } }
  header .brand--black {
    display: none;
    height: 45px;
    margin-left: 0; }
  header .flex-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80px; }
  .fixed header {
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
    .fixed header .container {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dedcdc; }
    @media screen and (prefers-reduced-motion: reduce) {
      .fixed header {
        -webkit-transition: none;
        transition: none; } }
    .fixed header .brand {
      display: none; }
    .fixed header .brand--black {
      display: block; }

footer .container {
  border-top: 1px solid #dedcdc; }
  footer .container:first-child {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative; }
  footer .container:last-child {
    padding-top: 30px;
    padding-bottom: 60px; }

footer .background {
  position: absolute;
  bottom: -60px;
  left: 0; }
  @media (max-width: 1023.98px) {
    footer .background {
      display: none; } }

footer .customer-service {
  padding: 30px;
  background: white;
  border: 1px solid #dedcdc; }
  footer .customer-service .h6 {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 40px; }

footer .headline {
  margin-bottom: 35px; }
  @media (max-width: 1439.98px) {
    footer .headline {
      margin-top: 60px;
      text-align: center;
      border-top: 1px solid #dedcdc;
      padding-top: 20px; } }

footer .brand,
footer .slogan {
  height: 40px; }

footer .brand {
  margin-right: 15px; }

footer a {
  color: #050505;
  font-weight: 600; }
  footer a:hover, footer a:active, footer a.active {
    color: #000; }

@media (max-width: 1023.98px) {
  footer .flex-row {
    display: block;
    text-align: center; } }

.section--home-hero {
  height: 100vh;
  min-height: 760px;
  max-height: 980px;
  overflow: hidden; }
  .section--home-hero .h1 .em {
    display: block; }
  .section--home-hero .scroll-reminder {
    position: absolute;
    z-index: 90;
    width: 80px;
    left: 50%;
    bottom: 60px;
    margin-left: -40px;
    text-align: center;
    color: white;
    font-size: 54px; }
  .section--home-hero .triangles {
    position: absolute;
    width: 100%;
    height: 232px;
    bottom: 0;
    left: 0;
    z-index: 90; }

@-webkit-keyframes scrollAnim {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  40%,
  95% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); } }

@keyframes scrollAnim {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  40%,
  95% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); } }

.swiper-container--home-hero {
  height: 100vh;
  min-height: 760px;
  max-height: 980px; }
  .swiper-container--home-hero .swiper-wrapper {
    height: 100%; }

.swiper-slide--home-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .swiper-slide--home-hero .background {
    position: absolute;
    width: 108%;
    height: 100%;
    top: 0;
    left: -4%;
    overflow: hidden; }
    .swiper-slide--home-hero .background img,
    .swiper-slide--home-hero .background video {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      min-width: 100%;
      min-height: 100%; }
    .swiper-slide--home-hero .background:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 320px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0);
      mix-blend-mode: darken; }
  .swiper-slide--home-hero .container {
    position: relative; }
  .swiper-slide--home-hero .h1 {
    color: white; }

.section--hilights .container-fluid {
  width: calc(100% - 192px);
  max-width: 1748px; }

.section--hilights .triangles {
  position: absolute;
  height: 464px;
  top: 0;
  left: 0;
  width: 100%; }

@media (max-width: 1439.98px) {
  .section--hilights .container-fluid {
    width: 100%; } }

.swiper-slide--hilights {
  padding-top: 290px;
  padding-bottom: 120px; }
  .swiper-slide--hilights .container {
    position: relative; }
  .swiper-slide--hilights .pictures {
    /*
		.picture-b {
			img {
				max-height: 70vh;
			}
		}
		*/ }
    .swiper-slide--hilights .pictures .picture-a {
      display: block;
      position: absolute;
      max-width: 75%;
      z-index: 1;
      right: 40px;
      top: 50%;
      margin-top: -20%; }
      .swiper-slide--hilights .pictures .picture-a img {
        max-width: 100%;
        position: relative; }
  .swiper-slide--hilights .h3 {
    color: #272727; }
    .swiper-slide--hilights .h3 .em {
      color: #a5a1a1; }
  @media (max-width: 1439.98px) {
    .swiper-slide--hilights .pictures {
      margin-left: -15px;
      margin-right: -15px; }
      .swiper-slide--hilights .pictures .picture-b {
        margin-left: 20px; }
      .swiper-slide--hilights .pictures img {
        max-height: 400px; } }

.section--case-studies .triangles {
  width: 100%;
  height: 464px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

@media (min-width: 1024px) {
  .section--case-studies {
    padding-bottom: 185px; } }

.case-studies {
  position: relative; }
  .case-studies .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc(100% + 10px); }

.case-studies__item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  display: block;
  margin: 0 10px 10px 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: white;
  overflow: hidden; }
  @media screen and (prefers-reduced-motion: reduce) {
    .case-studies__item {
      -webkit-transition: none;
      transition: none; } }
  @media (min-width: 768px) {
    .case-studies__item {
      width: calc(50% - 10px);
      padding-bottom: calc(50% - 10px); } }
  @media (min-width: 1024px) {
    .case-studies__item {
      width: calc(25% - 10px);
      padding-bottom: calc(25% - 10px); } }
  .case-studies__item .picture {
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 0;
    left: 0; }
    .case-studies__item .picture img {
      position: relative;
      z-index: 0;
      width: 100%;
      -webkit-transition: all 350ms 0ms ease-in-out;
      transition: all 350ms 0ms ease-in-out; }
    .case-studies__item .picture:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      right: 50%;
      top: 0;
      background: #d90726;
      mix-blend-mode: darken;
      -webkit-transform: skewX(0deg) translateX(-101%);
              transform: skewX(0deg) translateX(-101%);
      -webkit-transition: all 800ms 100ms ease-in-out;
      transition: all 800ms 100ms ease-in-out; }
    .case-studies__item .picture:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 0;
      background: #d90726;
      mix-blend-mode: darken;
      -webkit-transform: skewX(0deg) translateX(101%);
              transform: skewX(0deg) translateX(101%);
      -webkit-transition: all 800ms 100ms ease-in-out;
      transition: all 800ms 100ms ease-in-out; }
  .case-studies__item .inner {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 300ms 250ms cubic-bezier(0.67, 0.005, 0.21, 1);
    transition: all 300ms 250ms cubic-bezier(0.67, 0.005, 0.21, 1); }
  .case-studies__item .content {
    padding: 15px;
    text-align: center; }
  .case-studies__item .h4 {
    display: block; }
  .case-studies__item .category {
    position: relative;
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 30px; }
    .case-studies__item .category:before {
      content: '';
      display: block;
      position: absolute;
      top: -6px;
      left: 50%;
      width: 30px;
      height: 3px;
      background: white;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      @media screen and (prefers-reduced-motion: reduce) {
        .case-studies__item .category:before {
          -webkit-transition: none;
          transition: none; } }
  .case-studies__item:hover {
    color: white; }
    .case-studies__item:hover .h4 {
      -webkit-animation-name: slideInLeft;
              animation-name: slideInLeft;
      -webkit-animation-duration: 400ms;
              animation-duration: 400ms;
      -webkit-animation-delay: 200ms;
              animation-delay: 200ms;
      -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.35, 1);
              animation-timing-function: cubic-bezier(0.5, 0, 0.35, 1);
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; }
    .case-studies__item:hover .picture img {
      -webkit-transform: scale3d(1.2, 1.2, 1.2);
              transform: scale3d(1.2, 1.2, 1.2); }
    .case-studies__item:hover .picture:before {
      -webkit-transform: skewX(45deg) translateX(0);
              transform: skewX(45deg) translateX(0); }
    .case-studies__item:hover .picture:after {
      -webkit-transform: skewX(45deg) translateX(0);
              transform: skewX(45deg) translateX(0); }
    .case-studies__item:hover .inner {
      background: rgba(0, 0, 0, 0); }
    .case-studies__item:hover .category:before {
      width: 120px; }

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0; }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1; } }

.section--numbers {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 180px; }
  .section--numbers .h5 {
    margin-bottom: 100px; }
  .section--numbers .picture {
    max-width: 120px;
    margin-bottom: 30px; }
  .section--numbers .number {
    font-size: 80px;
    line-height: 80px;
    font-weight: 200;
    color: #d90726;
    margin-bottom: 20px; }
  .section--numbers .btn--group {
    margin-top: 85px; }
  .section--numbers .triangles {
    width: 100%;
    height: 464px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.section--news {
  padding-top: 140px;
  padding-bottom: 160px; }
  .section--news .h3 {
    margin-bottom: 60px; }
  .section--news .col-md-4,
  .section--news .col-md-8 {
    padding: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .section--news .col-md-4 .news__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  .section--news .col-md-8 .row {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  @media (min-width: 1024px) {
    .section--news .col-md-8 {
      border-left: 1px solid #e4e4e4; } }
  .section--news > .container {
    position: relative;
    padding: 0;
    /*
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: #fafafa;
		}
		*/ }
    @media (min-width: 1024px) {
      .section--news > .container:before {
        content: '';
        position: absolute;
        width: 30%;
        top: -60px;
        left: -10%;
        height: calc(100% + 120px);
        background: #f2f2f2; } }
    .section--news > .container .inner {
      position: relative;
      z-index: 1;
      background: #fafafa;
      padding: 60px; }
  @media (max-width: 1439.98px) {
    .section--news .col-md-4,
    .section--news .col-md-8 {
      padding-right: 15px;
      padding-left: 15px; }
    .section--news .btn--group {
      margin-bottom: 40px; }
    .section--news > .container {
      padding: 0; }
      .section--news > .container .inner {
        padding: 15px; } }

.news__item {
  padding-bottom: 40px; }
  @media (min-width: 1440px) {
    .news__item {
      max-width: 340px; } }
  .news__item .picture {
    margin-bottom: 30px;
    background: white; }
    .news__item .picture img {
      max-width: 100%; }
  .news__item .date {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 30px; }
  .news__item .title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 200;
    color: #272727;
    margin-bottom: 20px; }

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-size: 16px;
  background: white;
  color: black;
  -webkit-overflow-scrolling: touch; }

main {
  position: relative; }

.page {
  background: white;
  min-height: 100vh;
  margin: 0;
  padding: 0; }

.wrapper {
  background: white;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0; }

.section {
  position: relative; }

[unselectable] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f3f3f3;
  border-radius: 2px; }

::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 2px; }

.svg-sprites {
  height: 0;
  width: 0;
  position: absolute;
  visibility: hidden; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (max-width: 767.98px) {
  .hidden-xs-down {
    display: none; } }

.hidden-xs-up {
  display: none; }

@media (max-width: 1023.98px) {
  .hidden-sm-down {
    display: none; } }

@media (min-width: 768px) {
  .hidden-sm-up {
    display: none; } }

@media (max-width: 1439.98px) {
  .hidden-md-down {
    display: none; } }

@media (min-width: 1024px) {
  .hidden-md-up {
    display: none; } }

@media (max-width: 1599.98px) {
  .hidden-lg-down {
    display: none; } }

@media (min-width: 1440px) {
  .hidden-lg-up {
    display: none; } }

.hidden-xl-down {
  display: none; }

@media (min-width: 1600px) {
  .hidden-xl-up {
    display: none; } }
