@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "../variables";
@import '../mixins';

[expandable] {
	position: relative;
}

.expandable-placeholder {
	background: #111;
}

.expandable-expanding {
	display: block;
	position: absolute;
	z-index: 100000;
}

.expandable-parent {
	z-index: 100000;
}
