[scrollable-x],
[scrollable-y] {
	position: relative;
	overflow: hidden;
	-webkit-overflow-scroll: touch;
	cursor: pointer;

	&>.scrollable-content {
		display: inline-block;
		white-space: nowrap;
		// position: absolute; // for performance
		// min-width: 100%;
		// height: 100%;
		-webkit-overflow-scrolling: touch;
	}

	&>.indicator {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 20px;
		height: 40px;
		background: grey;
		color: white;
		font-size: 14px;
		border-radius: 1px 0 0 1px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: 700;
	}
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
