@import "../colors";
@import "../variables";

[ng-click],
[link-to],
button,
a {
	cursor: pointer;
	@include transition();

	&,
	&:hover,
	&:active,
	&:focus,
	&:visited {
		text-decoration: none;
	}
}

button {
	background: transparent;
	padding: 0;
	border: none;
	outline: 0;
	-webkit-appearance: none;

	&:focus,
	&:active {
		outline: none;
	}
}

[type=reset],
[type=submit],
button,
html [type=button] {
	-webkit-appearance: none;
}

.btn {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;

	@include transition();

	i,
	span {
		height: auto;
		line-height: 1;
		vertical-align: middle;
	}
}

a,
[type=reset],
[type=submit],
button,
.btn {
	&:disabled {
		cursor: auto;
		pointer-events: none;
	}
}

.btn--menu {
	font-size: 30px;
	line-height: 30px;
	color: white;
	text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

	&:hover {
		color: white;
	}

	.fixed &,
	.opened & {
		color: #484848;
		text-shadow: none;

		&:hover,
		&:active,
		&.active {
			color: black;
		}
	}

	.icon-close {
		display: none;
	}

	.opened & {
		.icon-menu {
			display: none;
		}

		.icon-close {
			display: inline-block;
		}
	}

}

.btn--more {
	display: inline-block;
	position: relative;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600;
	color: white;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		bottom: 0;
		background: white;
		@include transition();
	}

	&:hover {
		color: white;

		&:before {
			transform: scale(0, 1);
		}
	}

}

.btn--discover {
	display: inline-block;
	position: relative;
	font-size: 15px;
	line-height: 24px;
	font-weight: 800;
	color: #d90726;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		bottom: 0;
		background: #d90726;
		@include transition();
	}

	&:hover,
	a:hover & {
		color: #d90726;

		&:before {
			transform: scale(0, 1);
		}
	}

}

.btn--nav {
	display: inline-block;
	position: relative;
	font-size: 15px;
	line-height: 20px;
	font-weight: 600;
	color: white;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		background: white;
		@include transition();
	}

	&:hover {
		color: white;

		&:before {
			transform: scale(0, 1);
		}
	}

}

.btn--see {
	display: inline-block;
	position: relative;
	font-size: 15px;
	line-height: 24px;
	font-weight: 800;
	color: #d90726;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		bottom: 0;
		background: #d90726;
		transform: scale(0, 1);
		@include transition();
	}

	&:hover,
	a:hover & {
		color: #d90726;

		&:before {
			transform: scale(1, 1);
		}
	}

}

.btn--share {
	display: inline-flex;
	align-items: center;
	margin-bottom: 40px;

	@include transition();

	i {
		margin-left: 10px;
		font-size: 22px;
		vertical-align: middle;
		opacity: 1;
		@include transition();
	}

	.addthis_inline_share_toolbox {
		display: inline-block;
		line-height: 0;
		opacity: 0;
		pointer-events: none;
		@include transition();

		div {
			display: inline-block !important;
		}

		a {
			outline: none !important;
		}
	}

	&:hover {
		i {
			opacity: 0;
		}

		.addthis_inline_share_toolbox {
			opacity: 1;
			pointer-events: auto;
		}
	}

}

.btn--group {
	margin-top: 50px;

	@include media-breakpoint-down(sm) {

		&>a,
		&>button {
			display: block;
			width: auto;
		}
	}

	@include media-breakpoint-up(md) {

		&>a+a,
		&>button+button,
		&>a+button,
		&>button+a {
			margin-left: 10px;
		}
	}
}

.btn--group-center {
	text-align: center;
}

.btn--block {
	display: block;
	width: 100%;
}
