.detail__item {
	padding-top: 140px;

	.h2 {
		margin-bottom: 50px;
	}

	.btn--group {
		margin-top: 15px;
		margin-bottom: 50px;
	}

	.info {
		margin-top: 20px;
		font-size: 15px;
		font-weight: 600;

		.em {
			color: #a5a1a1;
			font-weight: 200;
		}
	}

}
