.section--detail {
	padding-top: 110px;
	padding-bottom: 30px;

	.date {
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 40px;
	}

	.h3 {
		.em {
			color: #a5a1a1;
			font-weight: 200;
		}
	}

	.h4 {
		font-size: 30px;
		line-height: 35px;
		font-weight: 200;
		margin-bottom: 40px;
		color: #a5a1a1;
	}

	table {
		border: none;
		padding: 0;
		margin: 0 0 40px 0;

		td {
			padding: 10px 0 5px 0;
			min-width: 120px;
			line-height: 25px;
			border-bottom: 1px solid #eee;
			font-size: 14px;
			font-weight: 600;

			&:first-child {
				font-weight: 200;
				text-transform: lowercase;
			}
		}

		td+td {
			padding-left: 15px;
		}
	}

}

.detail__item {
	padding-top: 140px;

	.h2 {
		margin-bottom: 50px;
	}

	.h4 {
		font-size: 30px;
		line-height: 35px;
		font-weight: 200;
		margin-bottom: 40px;
		color: #272727;
	}

	.h5 {
		margin-bottom: 10px;
		color: #a9a9a9;
		font-size: 16px;
		line-height: 16px;
		vertical-align: middle;
		font-weight: 400;
	}

	.btn--group {
		margin-top: 15px;
		margin-bottom: 50px;
	}

	.picture {
		margin-bottom: 0px;
	}

	.info {
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 15px;
		font-weight: 600;

		.em {
			color: #a5a1a1;
			font-weight: 200;
		}
	}

	@include media-breakpoint-up(sm) {
		.h5 {
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				width: 0;
				height: 0;
				line-height: 0;
				border-style: solid;
				border-width: 0 18px 18px 0;
				border-color: transparent #d3d3d3 transparent transparent;
				margin-left: -28px;
			}
		}

	}

}
