.form-group {
	border: 1px solid #ccc;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-top: -1px;
	margin-left: -1px;
}

.form-group-select {
	position: relative;

	&:after {
		content: 'o';
		font-family: HRSFlow;
		position: absolute;
		right: 12px;
		top: 50%;
		margin-top: -19px;
		font-size: 19px;
		color: #aaa;
	}

	.form-control {
		padding: 12px 40px 15px 10px;
	}
}

.form-control {
	display: block;
	width: 100%;
	margin: 0;
	padding: 12px 10px 15px 10px;
	border: none;
	appearance: none;
	background: white;
	color: #444;
	font-size: 20px;
	font-weight: 100;
	line-height: 20px;
	outline: none;
}

.form-group-container {

	@include media-breakpoint-down(sm) {

		.form-group {
			display: block;
			width: 100%;
		}
	}

	@include media-breakpoint-up(md) {

		display: flex;
		justify-content: center;

		.form-group {
			min-width: 200px;
		}

		&>.form-group+.form-group {
			margin-left: 30px;
		}
	}
}
