.form-control {
	display: block;
	width: 100%;
	margin: 5px 0 20px 0;
	padding: 7px 5px 0 5px;
	border: 2px solid #eee;

	background: white;
	color: #444;

	font-size: 20px;
	font-weight: 100;
	line-height: 20px;

}
