@import "bootstrap/scss/mixins";
@import "../mixins";
@import "../colors";
@import "../variables";

.nav {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav--primary {
	display: flex;
	justify-content: flex-end;

	a {
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		color: #c5c7c8;
	}

	li {

		&:hover,
		&:active,
		&.active {
			a {
				color: white;
			}
		}
	}

	.fixed & {
		a {
			color: #484848;
		}

		&:hover,
		&:active,
		&.active {
			a {
				color: black;
			}
		}
	}

	li+li {
		margin-left: 30px;
	}

	@include media-breakpoint-down(lg) {
		li+li {
			margin-left: 15px;
		}
	}

}

.nav--secondary {
	display: flex;
	justify-content: flex-end;

	a {
		font-size: 14px;
		font-weight: 600;
		color: #c5c7c8;
	}

	li {

		&:hover,
		&:active,
		&.active {
			a {
				color: white;
			}
		}
	}

	.fixed & {
		a {
			color: #484848;
		}

		&:hover,
		&:active,
		&.active {
			a {
				color: black;
			}
		}
	}

	li+li {
		margin-left: 25px;
	}

	@include media-breakpoint-down(lg) {
		li+li {
			margin-left: 10px;
		}
	}

}

.nav--i18n {
	display: flex;
	justify-content: flex-end;

	a {
		color: #c5c7c8;
	}

	i {
		margin-right: 10px;
	}

	li {

		&:hover,
		&:active,
		&.active {
			a {
				color: white;
			}
		}
	}

	.fixed & {
		a {
			color: #484848;
		}

		&:hover,
		&:active,
		&.active {
			a {
				color: black;
			}
		}
	}

	li+li {
		margin-left: 50px;
	}

	@include media-breakpoint-down(lg) {
		li+li {
			margin-left: 20px;
		}
	}

}

.nav--footer-primary {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	&>li>span,
	&>li>a {
		font-size: 14px;
		font-weight: 600;
		color: #050505;
	}

	&>li {

		&:hover,
		&:active,
		&.active {
			&>a {
				color: #050505;
			}
		}
	}

	&>li+li {
		margin-top: 25px;
	}

	&>li>.nav {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&>li>span,
		&>li>a {
			display: inline-block;
			font-size: 13px;
			font-weight: 400;
			line-height: 25px;
			color: #a5a1a1;
		}

		&>li {

			&:hover,
			&:active,
			&.active {
				&>a {
					color: #050505;
				}
			}
		}
	}

	&>li>.nav--footer-social {
		display: flex;
		flex-direction: row;
		// justify-content: space-between;
		justify-content: space-around;

		span {
			display: none;
		}

		&>li>a {
			font-size: 23px;
			line-height: 40px;
			color: #050505;
		}

		&>li {

			&:hover,
			&:active,
			&.active {
				&>a {
					color: #000;
				}
			}
		}
	}
}

.nav--footer-secondary {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	&>li>span,
	&>li>a {
		font-size: 13px;
		font-weight: 400;
		color: #8e8e8e;

		i {
			font-size: 19px;
			margin-left: 10px;
		}
	}

	&>li {

		&:hover,
		&:active,
		&.active {
			a {
				color: #050505;
			}
		}
	}

	&>li:not(:last-child) {
		margin-right: 55px;
	}

	@include media-breakpoint-down(sm) {
		display: block;
		margin-bottom: 40px;

		&>li:not(:last-child) {
			margin-right: 0;
		}
	}
}

.nav--service {

	i {
		display: inline-flex;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 0;
		vertical-align: middle;
		justify-content: center;
		align-items: center;
	}

	&>li>a {
		display: flex;
		font-size: 25px;
		background: #d90726;
		color: white;
		transform: translateX(calc(100% - 60px));
		@include transition();
	}

	span {
		display: flex;
		flex: 1 0 auto;
		background: #ccc;
		line-height: 0;
		overflow: hidden;
		font-size: 15px;
		color: white;
		font-weight: 400;
		justify-content: center;
		align-items: center;
		vertical-align: middle;
		padding: 0 15px;
		transform: translateX(3px);
	}

	&>li {

		&:hover,
		&:active,
		&.active {
			&>a {
				color: white;
				transform: translateX(0);
			}
		}
	}

	@include media-breakpoint-down(sm) {
		position: fixed;
		top: calc(100vh - 60px);
		left: 0;
		width: 100%;
		margin: 0;
		z-index: 99;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background: #d90726;

		span {
			display: none;
		}
	}

	@include media-breakpoint-up(md) {
		position: fixed;
		width: auto;
		top: 50vh;
		right: 3px;
		margin-top: -100px;
		display: flex;
		flex-direction: column;
		z-index: 99;

		&>li {

			&:first-child {
				&>a {
					border-top-left-radius: 20px;
				}
			}

			&:last-child {
				&>a {
					border-bottom-left-radius: 20px;
				}
			}
		}

		&>li+li {
			margin-top: 3px;
		}

	}

}
