/*
.scroll-reminder {
	position: absolute;
	z-index: 90;
	width: 80px;
	left: 50%;
	bottom: 60px;
	margin-left: -40px;
	text-align: center;
	color: white;
	font-size: 54px;
	// animation: scrollAnim 1600ms cubic-bezier(0.5, 0, 0.35, 1) infinite;

	@include media-breakpoint-down(sm) {
		display: none;
	}

}

@keyframes scrollAnim {

	0% {
		transform: translateY(30px);
	}

	40%,
	95% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(30px);
	}
}
*/

.scroll-reminder {
	width: 40px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	z-index: 1;
	margin-left: -20px;
}

.scroll-reminder__icon {
	width: 34px;
	height: 54px;
	border: 3px solid white;
	border-radius: 17px;
	position: relative;
	text-align: center;
}

.scroll-reminder__wheel {
	height: 10px;
	margin: 2px auto 0;
	display: block;
	width: 5px;
	border-radius: 5px;
	background-color: white;
	animation: 1.6s ease infinite wheel-up-down;
}

@keyframes wheel-up-down {
	0% {
		margin-top: 2px;
		opacity: 0;
	}

	30% {
		opacity: 1;
	}

	100% {
		margin-top: 20px;
		opacity: 0;
	}
}
