.swiper-container {
	width: 100%;
	cursor: pointer;
	visibility: hidden;

	&.ready {
		visibility: visible;
	}
}

.swiper-container-horizontal {
	&>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {

		.swiper-pagination-bullet {
			transition: all ease-in-out 350ms;
		}
	}

	&>.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 5px;
	}

	& .swiper-pagination-bullet {
		cursor: pointer;
	}

}

.swiper-pagination-bullets-dynamic {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	.swiper-pagination-bullet {
		width: 50px;
		position: relative;
		transform: none;
		outline: none;
	}

	.swiper-pagination-bullet-active,
	.swiper-pagination-bullet-active-main {
		width: 100px;
		transform: none;
	}

}

.swiper-pagination-bullet {
	display: inline-flex;
	align-items: center;
	width: 50px;
	height: 40px;
	border-radius: 0;
	opacity: 1;
	background: transparent;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 3px;
		background: #d7cfcf;
		transition: all 300ms ease-in-out;
	}

	&:hover {
		&:before {
			height: 10px;
		}
	}
}

.swiper-pagination-bullet-active {
	opacity: 1;
	width: 100px;

	&:before {
		background: #d90726;
	}
}
