@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";
@import "mixins";

[draggable-item] {
	position: relative;

	&:not([disabled]) {
		cursor: move;

		input,
		select {
			cursor: pointer;
		}
	}

	@include user-select();

	&.dragging {
		z-index: 10000;

		>* {
			pointer-events: none;
		}
	}
}

[droppable-item] {
	position: relative;
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 4px;
	display: inline-block;
	line-height: 0;

	// @include transition();

	&:not([disabled]) {
		&.over {
			border-color: #ccc;
		}

		&.dropping {
			border-color: #f2838a;
		}
	}
}

[droppable-item]+[droppable-item] {
	// border-left: none;
	// margin-left: -2px;
}

th {
	&[draggable-item] {
		height: 44px;

		&:not([disabled]) {
			&:hover {
				background-color: #f0f0f0;
			}

			&.dragging {
				background-color: #fff;
			}
		}
	}

	&[droppable-item] {

		&:not([disabled]) {
			&.dropping {
				background-color: #f8f8f8;
			}
		}
	}
}

.atable-dynamic {
	th[draggable-item] {
		&:not([disabled]) {
			@include transition();
		}
	}
}
