$module: 116px;

.section--contacts-hero {
	height: 100vh;
	min-height: 620px;
	max-height: 980px;
	overflow: hidden;
	display: flex;
	height: 100%;
	align-items: center;

	.container {
		position: relative;
	}

	.date {
		font-size: 14px;
		margin-bottom: 15px;
	}

	.h1 {
		font-size: 74px;
		line-height: 80px;

		.em {
			color: #a5a1a1;
			font-weight: 200;
		}
	}

	.h4 {
		font-size: 30px;
		line-height: 35px;
		font-weight: 200;
	}

	.triangles {
		position: absolute;
		width: 100%;
		height: $module * 1;
		bottom: 0;
		left: 0;
		z-index: 90;
	}

}

.contacts__item {
	display: block;
	height: 100%;
	padding: 15px 15px 40px 15px;
	margin-bottom: 40px;
	color: inherit;
	box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.15);
	cursor: pointer;

	.col-md-8 & {
		@include media-breakpoint-up(md) {
			display: flex;
			flex-direction: row;

			.content {
				width: calc(50% - 15px);
				flex: 0 0 calc(50% - 15px);
			}

		}
	}

	.content {
		display: block;
	}

	.picture {
		margin-bottom: 30px;
		background: white;

		img {
			max-width: 100%;
		}
	}

	.icon {
		display: block;
		font-size: 35px;
		margin-top: 10px;
		margin-bottom: 9px;
		margin-left: 0;
		color: #bbb;
	}

	.title {
		display: block;
		font-size: 30px;
		line-height: 36px;
		font-weight: 200;
		color: #272727;
		margin-bottom: 20px;
	}

	.text {
		display: block;
	}

	a {
		color: #d90726;
		font-weight: 400;
		font-size: 14px;
	}

	&:hover,
	&:active,
	&:visited {
		color: inherit;
	}

}

.section--map {
	margin-bottom: 40px;
}

.section--contacts-listing {
	padding: 180px 0 50px;

	.row {
		align-items: stretch;
	}

	.col-md-8,
	.col-md-4 {
		display: flex;
		flex-direction: column;
	}

	.form-group-container {
		padding: 40px 0;
	}

	.h2 {
		max-width: 760px;
		margin-bottom: 0;
	}

	.h5 {
		font-size: 19px;
		line-height: 35px;
		text-transform: none;
		font-weight: 200;
		padding: 0;
		margin: 15px 0 0 0;
		max-width: 560px;

		.em {
			color: #a5a1a1;
		}
	}

	/*
	.col-md-4 {
		// border: 1px solid #ccc;
		// margin-top: -1px;
		// margin-left: -1px;
		padding-top: 15px;
		padding-bottom: 10px;
	}
	*/

	.contacts__item {
		.picture {
			display: none;
		}
	}
}
