footer {

	.container {
		border-top: 1px solid #dedcdc;

		&:first-child {
			padding-top: 60px;
			padding-bottom: 60px;
			position: relative;
		}

		&:last-child {
			padding-top: 30px;
			padding-bottom: 60px;
		}
	}

	.picture--customer-service {
		position: absolute;
		bottom: -60px;
		left: 0;

		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	.customer-service {
		.inner {
			padding: 30px;
			background: white;
			border: 1px solid #dedcdc;
			// box-shadow: -30px 30px 30px -5px rgba(#474b58, 0.15);
		}

		.h6 {
			font-size: 24px;
			font-weight: 200;
			margin-bottom: 40px;
		}
	}

	.headline {
		margin-bottom: 35px;

		@include media-breakpoint-down(md) {
			margin-top: 60px;
			text-align: center;
			border-top: 1px solid #dedcdc;
			padding-top: 20px;
		}
	}

	.brand,
	.slogan {
		height: 40px;
	}

	.brand {
		margin-right: 15px;
	}

	a {
		color: #050505;
		font-weight: 600;

		&:hover,
		&:active,
		&.active {
			color: #000;
		}
	}

	@include media-breakpoint-down(sm) {
		.flex-row {
			display: block;
			text-align: center;
		}
	}
}

.newsletter {
	padding: 20px 0 10px 0;

	.newsletter__title {
		font-size: 24px;
	}

	.btn--newsletter {
		display: flex;

		&>span {
			display: block;
			width: 100%;
			margin: 0;
			line-height: 20px;
			border-bottom: 1px solid black;
			min-width: 240px;
			font-size: 17px;
			font-weight: 600;
			color: black;
			padding: 0 20px 0 0;
		}

		i {
			font-size: 22px;
			margin-left: 14px;
			margin-right: 5px;
		}
	}

	@include media-breakpoint-up(md) {
		display: flex;
		justify-content: flex-start;

		.newsletter__title {
			flex: 0 0 220px;
		}

		.newsletter__input {
			flex: 1 0 calc(100% - 240px);
			padding: 5px 0;
			margin-left: 20px;
		}
	}

}
