header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	.container {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.brand {
		display: inline-block;
		position: relative;
		z-index: 1;
		height: 60px;
		margin-left: -50px;

		@include media-breakpoint-down(sm) {
			height: 40px;
			margin-left: 0;
		}
	}

	.brand--black {
		display: none;
		position: relative;
		z-index: 1;
		height: 45px;
		margin-left: 0;
	}

	.flex-row {
		align-items: center;
		min-height: 80px;
		position: static;
	}

	.fixed &,
	.opened & {
		top: 0;
		left: 0;
		width: 100%;
		background: white;

		&>.container {
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #dedcdc;
		}

		transform: translateY(-100%);
		@include transition();
		transform: translateY(0);

		.brand {
			display: none;
		}

		.brand--black {
			display: block;
		}
	}

	.opened & {
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
	}

	@include media-breakpoint-down(md) {
		.nav {
			display: none;
		}

		.opened & {

			.nav {
				display: flex;
			}

			.flex-row {
				flex-direction: column;
				padding: 40px 0;
			}

			.nav--primary {
				flex-direction: column;
				align-items: stretch;
				width: 100%;
			}

			.nav--secondary {
				flex-direction: column;
				align-items: stretch;
				width: 100%;
			}

			.nav--i18n {
				flex-direction: column;
				align-items: stretch;
				width: 100%;
			}

			.btn--menu {
				position: absolute;
				top: 45px;
				right: 40px;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.btn--menu {
			display: none;
		}
	}

}

#search-form {
	fieldset {
		background: transparent;
		padding: 0;
		margin: 0;
		border: none;
	}

	.form-group {
		display: flex;
		margin: 30px 0 0 0;
		background: transparent;
		border-color: #434343;
		color: #c5c7c8;

		&.required {
			&:after {
				display: none;
			}
		}
	}

	.form-control {
		margin: 0;
		font-size: 30px;
		background: transparent;
		color: #fff;
	}

	.add-on {
		color: #fff;
		font-size: 23px;
		border-left: 2px solid #434343;
		padding: 0 40px;
		margin-right: -20px;
	}

	.fixed &,
	.opened & {
		.form-group {
			background: transparent;
			border-color: #c7c2c2;
			color: #000;
		}

		.form-control {
			background: transparent;
			color: #000;
		}

		.add-on {
			color: #000;
			border-left-color: #c7c2c2;
		}
	}

}
