$module: 116px;

.section--product-hero {
	height: 100vh;
	min-height: 760px;
	max-height: 980px;
	overflow: hidden;
	display: flex;
	height: 100%;
	align-items: center;

	.container {
		position: relative;
	}

	.h1 {
		.em {
			color: #a5a1a1;
			font-weight: 200;
		}
	}

	.h4 {
		font-size: 30px;
		line-height: 35px;
		font-weight: 200;
	}

	.triangles {
		position: absolute;
		width: 100%;
		height: $module * 2;
		bottom: 0;
		left: 0;
		z-index: 90;
	}

}

.swiper-container--gallery {
	overflow: visible;

	.swiper-slide {
		width: auto;
	}

}
